.titulo{
    font-size: 80px;
}

.comments {
    padding: 4rem;
    width: 90%;
    max-width: 900px;
    margin: 2rem auto;
    background-color: var(--light-color);
    border-radius: 2rem;
}


@media (max-width: 1500px) {
   
    .titulo{
        font-size: 50px ;
    }
  
  }
